In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import warnings

import utils

%matplotlib inline
warnings.filterwarnings('ignore')

In [2]:
file=r'loan.csv'
df=pd.read_csv(file)
file=r'Data_Dictionary.xlsx'
data_dictionary=pd.read_excel(file)

In [3]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_info_columns', 500)

In [4]:
utils.print_col_val_desc(df, data_dictionary)

In [5]:
df.shape

(39717, 111)

## EDA Guidelines
### Drop Columns
- columns with all NA values
- columns with all 0 values
- columns where all data are constant
- columns where there is a constant and others are NA values
- 70% empty data
- index variables
- descriptive and no contribution to analysis
- redundant columns
- customer behaviour columns which represent data post the approval of loan

### Convert column format
- object to float - not done
- object to datetime - not done

### Standardise Values
- currency - 2 decimal places

### convert column values
- emp_length 

### add new columns
- date columns

### Outlier Treatment
- Not done

### Univariate Analysis
- Not done

### Bivariate Analysis
- Not Done

### Inferences
- Not Done

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    id                              39717 non-null  int64
 1    member_id                       39717 non-null  int64
 2    loan_amnt                       39717 non-null  int64
 3    funded_amnt                     39717 non-null  int64
 4    funded_amnt_inv                 39717 non-null  float64
 5    term                            39717 non-null  object
 6    int_rate                        39717 non-null  object
 7    installment                     39717 non-null  float64
 8    grade                           39717 non-null  object
 9    sub_grade                       39717 non-null  object
 10   emp_title                       37258 non-null  object
 11   emp_length                      38642 non-null  object
 12   home_ownership                  39717 non-null  object
 13   annual_inc                      39717 non-null  float64
 14   verification_status             39717 non-null  object
 15   issue_d                         39717 non-null  object
 16   loan_status                     39717 non-null  object
 17   pymnt_plan                      39717 non-null  object
 18   url                             39717 non-null  object
 19   desc                            26777 non-null  object
 20   purpose                         39717 non-null  object
 21   title                           39706 non-null  object
 22   zip_code                        39717 non-null  object
 23   addr_state                      39717 non-null  object
 24   dti                             39717 non-null  float64
 25   delinq_2yrs                     39717 non-null  int64
 26   earliest_cr_line                39717 non-null  object
 27   inq_last_6mths                  39717 non-null  int64
 28   mths_since_last_delinq          14035 non-null  float64
 29   mths_since_last_record          2786 non-null   float64
 30   open_acc                        39717 non-null  int64
 31   pub_rec                         39717 non-null  int64
 32   revol_bal                       39717 non-null  int64
 33   revol_util                      39667 non-null  object
 34   total_acc                       39717 non-null  int64
 35   initial_list_status             39717 non-null  object
 36   out_prncp                       39717 non-null  float64
 37   out_prncp_inv                   39717 non-null  float64
 38   total_pymnt                     39717 non-null  float64
 39   total_pymnt_inv                 39717 non-null  float64
 40   total_rec_prncp                 39717 non-null  float64
 41   total_rec_int                   39717 non-null  float64
 42   total_rec_late_fee              39717 non-null  float64
 43   recoveries                      39717 non-null  float64
 44   collection_recovery_fee         39717 non-null  float64
 45   last_pymnt_d                    39646 non-null  object
 46   last_pymnt_amnt                 39717 non-null  float64
 47   next_pymnt_d                    1140 non-null   object
 48   last_credit_pull_d              39715 non-null  object
 49   collections_12_mths_ex_med      39661 non-null  float64
 50   mths_since_last_major_derog     0 non-null      float64
 51   policy_code                     39717 non-null  int64
 52   application_type                39717 non-null  object
 53   annual_inc_joint                0 non-null      float64
 54   dti_joint                       0 non-null      float64
 55   verification_status_joint       0 non-null      float64
 56   acc_now_delinq                  39717 non-null  int64
 57   tot_coll_amt                    0 non-null      float64
 58   tot_cur_bal                     0 non-null      float64
 59   open_acc_6m                     0 non-null      float64
 60   open_il_6m                      0 non-null      float64
 61   open_il_12m                     0 non-null      float64
 62   open_il_24m                     0 non-null      float64
 63   mths_since_rcnt_il              0 non-null      float64
 64   total_bal_il                    0 non-null      float64
 65   il_util                         0 non-null      float64
 66   open_rv_12m                     0 non-null      float64
 67   open_rv_24m                     0 non-null      float64
 68   max_bal_bc                      0 non-null      float64
 69   all_util                        0 non-null      float64
 70   total_rev_hi_lim                0 non-null      float64
 71   inq_fi                          0 non-null      float64
 72   total_cu_tl                     0 non-null      float64
 73   inq_last_12m                    0 non-null      float64
 74   acc_open_past_24mths            0 non-null      float64
 75   avg_cur_bal                     0 non-null      float64
 76   bc_open_to_buy                  0 non-null      float64
 77   bc_util                         0 non-null      float64
 78   chargeoff_within_12_mths        39661 non-null  float64
 79   delinq_amnt                     39717 non-null  int64
 80   mo_sin_old_il_acct              0 non-null      float64
 81   mo_sin_old_rev_tl_op            0 non-null      float64
 82   mo_sin_rcnt_rev_tl_op           0 non-null      float64
 83   mo_sin_rcnt_tl                  0 non-null      float64
 84   mort_acc                        0 non-null      float64
 85   mths_since_recent_bc            0 non-null      float64
 86   mths_since_recent_bc_dlq        0 non-null      float64
 87   mths_since_recent_inq           0 non-null      float64
 88   mths_since_recent_revol_delinq  0 non-null      float64
 89   num_accts_ever_120_pd           0 non-null      float64
 90   num_actv_bc_tl                  0 non-null      float64
 91   num_actv_rev_tl                 0 non-null      float64
 92   num_bc_sats                     0 non-null      float64
 93   num_bc_tl                       0 non-null      float64
 94   num_il_tl                       0 non-null      float64
 95   num_op_rev_tl                   0 non-null      float64
 96   num_rev_accts                   0 non-null      float64
 97   num_rev_tl_bal_gt_0             0 non-null      float64
 98   num_sats                        0 non-null      float64
 99   num_tl_120dpd_2m                0 non-null      float64
 100  num_tl_30dpd                    0 non-null      float64
 101  num_tl_90g_dpd_24m              0 non-null      float64
 102  num_tl_op_past_12m              0 non-null      float64
 103  pct_tl_nvr_dlq                  0 non-null      float64
 104  percent_bc_gt_75                0 non-null      float64
 105  pub_rec_bankruptcies            39020 non-null  float64
 106  tax_liens                       39678 non-null  float64
 107  tot_hi_cred_lim                 0 non-null      float64
 108  total_bal_ex_mort               0 non-null      float64
 109  total_bc_limit                  0 non-null      float64
 110  total_il_high_credit_limit      0 non-null      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [7]:
null_counts, null_percentage, null_summary = utils.get_null_stats(df)
print(null_summary)

                                Count  Percentage
id                                  0        0.00
member_id                           0        0.00
loan_amnt                           0        0.00
funded_amnt                         0        0.00
funded_amnt_inv                     0        0.00
term                                0        0.00
int_rate                            0        0.00
installment                         0        0.00
grade                               0        0.00
sub_grade                           0        0.00
emp_title                        2459        6.19
emp_length                       1075        2.71
home_ownership                      0        0.00
annual_inc                          0        0.00
verification_status                 0        0.00
issue_d                             0        0.00
loan_status                         0        0.00
pymnt_plan                          0        0.00
url                                 0        0.00
desc                            12940       32.58
purpose                             0        0.00
title                              11        0.03
zip_code                            0        0.00
addr_state                          0        0.00
dti                                 0        0.00
delinq_2yrs                         0        0.00
earliest_cr_line                    0        0.00
inq_last_6mths                      0        0.00
mths_since_last_delinq          25682       64.66
mths_since_last_record          36931       92.99
open_acc                            0        0.00
pub_rec                             0        0.00
revol_bal                           0        0.00
revol_util                         50        0.13
total_acc                           0        0.00
initial_list_status                 0        0.00
out_prncp                           0        0.00
out_prncp_inv                       0        0.00
total_pymnt                         0        0.00
total_pymnt_inv                     0        0.00
total_rec_prncp                     0        0.00
total_rec_int                       0        0.00
total_rec_late_fee                  0        0.00
recoveries                          0        0.00
collection_recovery_fee             0        0.00
last_pymnt_d                       71        0.18
last_pymnt_amnt                     0        0.00
next_pymnt_d                    38577       97.13
last_credit_pull_d                  2        0.01
collections_12_mths_ex_med         56        0.14
mths_since_last_major_derog     39717      100.00
policy_code                         0        0.00
application_type                    0        0.00
annual_inc_joint                39717      100.00
dti_joint                       39717      100.00
verification_status_joint       39717      100.00
acc_now_delinq                      0        0.00
tot_coll_amt                    39717      100.00
tot_cur_bal                     39717      100.00
open_acc_6m                     39717      100.00
open_il_6m                      39717      100.00
open_il_12m                     39717      100.00
open_il_24m                     39717      100.00
mths_since_rcnt_il              39717      100.00
total_bal_il                    39717      100.00
il_util                         39717      100.00
open_rv_12m                     39717      100.00
open_rv_24m                     39717      100.00
max_bal_bc                      39717      100.00
all_util                        39717      100.00
total_rev_hi_lim                39717      100.00
inq_fi                          39717      100.00
total_cu_tl                     39717      100.00
inq_last_12m                    39717      100.00
acc_open_past_24mths            39717      100.00
avg_cur_bal                     39717      100.00
bc_open_to_buy                  39717      100.00
bc_util                         39717      100.00
chargeoff_within_12_mths           56        0.14
delinq_amnt                         0        0.00
mo_sin_old_il_acct              39717      100.00
mo_sin_old_rev_tl_op            39717      100.00
mo_sin_rcnt_rev_tl_op           39717      100.00
mo_sin_rcnt_tl                  39717      100.00
mort_acc                        39717      100.00
mths_since_recent_bc            39717      100.00
mths_since_recent_bc_dlq        39717      100.00
mths_since_recent_inq           39717      100.00
mths_since_recent_revol_delinq  39717      100.00
num_accts_ever_120_pd           39717      100.00
num_actv_bc_tl                  39717      100.00
num_actv_rev_tl                 39717      100.00
num_bc_sats                     39717      100.00
num_bc_tl                       39717      100.00
num_il_tl                       39717      100.00
num_op_rev_tl                   39717      100.00
num_rev_accts                   39717      100.00
num_rev_tl_bal_gt_0             39717      100.00
num_sats                        39717      100.00
num_tl_120dpd_2m                39717      100.00
num_tl_30dpd                    39717      100.00
num_tl_90g_dpd_24m              39717      100.00
num_tl_op_past_12m              39717      100.00
pct_tl_nvr_dlq                  39717      100.00
percent_bc_gt_75                39717      100.00
pub_rec_bankruptcies              697        1.75
tax_liens                          39        0.10
tot_hi_cred_lim                 39717      100.00
total_bal_ex_mort               39717      100.00
total_bc_limit                  39717      100.00
total_il_high_credit_limit      39717      100.00

In [8]:
df["loan_status"].value_counts()

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

* loan_status = current can't be used for prediction since we don't know whether the current borrower will be defaulter or not
* hence dropping the rows where loan_status = "current"

In [9]:
df = df[df["loan_status"] != "Current"]

In [10]:
null_percentage[null_percentage > 60].index

Index(['mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d', 'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'],
      dtype='object')

In [11]:
utils.drop_high_null_cols(df, null_percentage)

In [12]:
utils.print_null_stats(df)

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2386
emp_length                     1033
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12527
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64
id                             0.00
member_id                      0.00
loan_amnt                      0.00
funded_amnt                    0.00
funded_amnt_inv                0.00
term                           0.00
int_rate                       0.00
installment                    0.00
grade                          0.00
sub_grade                      0.00
emp_title                      6.19
emp_length                     2.68
home_ownership                 0.00
annual_inc                     0.00
verification_status            0.00
issue_d                        0.00
loan_status                    0.00
pymnt_plan                     0.00
url                            0.00
desc                          32.47
purpose                        0.00
title                          0.03
zip_code                       0.00
addr_state                     0.00
dti                            0.00
delinq_2yrs                    0.00
earliest_cr_line               0.00
inq_last_6mths                 0.00
open_acc                       0.00
pub_rec                        0.00
revol_bal                      0.00
revol_util                     0.13
total_acc                      0.00
initial_list_status            0.00
out_prncp                      0.00
out_prncp_inv                  0.00
total_pymnt                    0.00
total_pymnt_inv                0.00
total_rec_prncp                0.00
total_rec_int                  0.00
total_rec_late_fee             0.00
recoveries                     0.00
collection_recovery_fee        0.00
last_pymnt_d                   0.18
last_pymnt_amnt                0.00
last_credit_pull_d             0.01
collections_12_mths_ex_med     0.15
policy_code                    0.00
application_type               0.00
acc_now_delinq                 0.00
chargeoff_within_12_mths       0.15
delinq_amnt                    0.00
pub_rec_bankruptcies           1.81
tax_liens                      0.10
dtype: float64
                            Count  Percentage
id                              0        0.00
member_id                       0        0.00
loan_amnt                       0        0.00
funded_amnt                     0        0.00
funded_amnt_inv                 0        0.00
term                            0        0.00
int_rate                        0        0.00
installment                     0        0.00
grade                           0        0.00
sub_grade                       0        0.00
emp_title                    2386        6.19
emp_length                   1033        2.68
home_ownership                  0        0.00
annual_inc                      0        0.00
verification_status             0        0.00
issue_d                         0        0.00
loan_status                     0        0.00
pymnt_plan                      0        0.00
url                             0        0.00
desc                        12527       32.47
purpose                         0        0.00
title                          11        0.03
zip_code                        0        0.00
addr_state                      0        0.00
dti                             0        0.00
delinq_2yrs                     0        0.00
earliest_cr_line                0        0.00
inq_last_6mths                  0        0.00
open_acc                        0        0.00
pub_rec                         0        0.00
revol_bal                       0        0.00
revol_util                     50        0.13
total_acc                       0        0.00
initial_list_status             0        0.00
out_prncp                       0        0.00
out_prncp_inv                   0        0.00
total_pymnt                     0        0.00
total_pymnt_inv                 0        0.00
total_rec_prncp                 0        0.00
total_rec_int                   0        0.00
total_rec_late_fee              0        0.00
recoveries                      0        0.00
collection_recovery_fee         0        0.00
last_pymnt_d                   71        0.18
last_pymnt_amnt                 0        0.00
last_credit_pull_d              2        0.01
collections_12_mths_ex_med     56        0.15
policy_code                     0        0.00
application_type                0        0.00
acc_now_delinq                  0        0.00
chargeoff_within_12_mths       56        0.15
delinq_amnt                     0        0.00
pub_rec_bankruptcies          697        1.81
tax_liens                      39        0.10

In [13]:
utils.print_col_val_desc(df, data_dictionary)

In [14]:
df.nunique()

id                            38577
member_id                     38577
loan_amnt                       870
funded_amnt                    1019
funded_amnt_inv                8050
term                              2
int_rate                        370
installment                   15022
grade                             7
sub_grade                        35
emp_title                     28027
emp_length                       11
home_ownership                    5
annual_inc                     5215
verification_status               3
issue_d                          55
loan_status                       2
pymnt_plan                        1
url                           38577
desc                          25803
purpose                          14
title                         19297
zip_code                        822
addr_state                       50
dti                            2853
delinq_2yrs                      11
earliest_cr_line                524
inq_last_6mths                    9
open_acc                         40
pub_rec                           5
revol_bal                     21275
revol_util                     1088
total_acc                        82
initial_list_status               1
out_prncp                         1
out_prncp_inv                     1
total_pymnt                   36714
total_pymnt_inv               36387
total_rec_prncp                6841
total_rec_int                 34025
total_rec_late_fee             1320
recoveries                     4040
collection_recovery_fee        2616
last_pymnt_d                    101
last_pymnt_amnt               34418
last_credit_pull_d              106
collections_12_mths_ex_med        1
policy_code                       1
application_type                  1
acc_now_delinq                    1
chargeoff_within_12_mths          1
delinq_amnt                       1
pub_rec_bankruptcies              3
tax_liens                         1
dtype: int64

* Following variables are not available when the borrower applies for the loan. So, they will have no impact on target at that point. Hence dropping it
1. out_prncp
2. out_prncp_inv
3. total_pymnt
4. total_pymnt_inv
5. total_rec_prncp
6. total_rec_int
7. total_rec_late_fee
8. recoveries
9. collection_recovery_fee
10. last_pymnt_d
11. last_pymnt_amnt

In [15]:
df.drop(["out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee", "recoveries","collection_recovery_fee", "last_pymnt_d",  "last_pymnt_amnt"], axis=1, inplace=True)

In [16]:
utils.print_col_val_desc(df, data_dictionary)

* all unique, won't contribute

1. id
2. member_id

In [17]:
df.drop(["id", "member_id"], axis=1, inplace=True)

In [18]:
utils.print_col_val_desc(df, data_dictionary)

* won't contribute

1. emp_title
2. url

In [19]:
df.drop(["emp_title", "url"], axis=1, inplace=True)

In [20]:
utils.print_col_val_desc(df, data_dictionary)

In [21]:
df.nunique()

loan_amnt                       870
funded_amnt                    1019
funded_amnt_inv                8050
term                              2
int_rate                        370
installment                   15022
grade                             7
sub_grade                        35
emp_length                       11
home_ownership                    5
annual_inc                     5215
verification_status               3
issue_d                          55
loan_status                       2
pymnt_plan                        1
desc                          25803
purpose                          14
title                         19297
zip_code                        822
addr_state                       50
dti                            2853
delinq_2yrs                      11
earliest_cr_line                524
inq_last_6mths                    9
open_acc                         40
pub_rec                           5
revol_bal                     21275
revol_util                     1088
total_acc                        82
initial_list_status               1
last_credit_pull_d              106
collections_12_mths_ex_med        1
policy_code                       1
application_type                  1
acc_now_delinq                    1
chargeoff_within_12_mths          1
delinq_amnt                       1
pub_rec_bankruptcies              3
tax_liens                         1
dtype: int64

In [22]:
df["term"].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [23]:
utils.print_unique_values_and_null_stats(df)

Column 'loan_amnt' has 870 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'funded_amnt' has 1019 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'funded_amnt_inv' has 8050 unique values.
Top 10 unique values: [ 4975.  2500.  2400. 10000.  5000.  7000.  3000.  5600.  5350.  6500.]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'term' has 2 unique values.
Top 10 unique values: [' 36 months' ' 60 months']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'int_rate' has 370 unique values.
Top 10 unique values: ['10.65%' '15.27%' '15.96%' '13.49%' '7.90%' '18.64%' '21.28%' '12.69%'
 '14.65%' '9.91%']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'installment' has 15022 unique values.
Top 10 unique values: [162.87  59.83  84.33 339.31 156.46 170.08 109.43 152.39 121.45 153.45]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'grade' has 7 unique values.
Top 10 unique values: ['B' 'C' 'A' 'E' 'F' 'D' 'G']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'sub_grade' has 35 unique values.
Top 10 unique values: ['B2' 'C4' 'C5' 'C1' 'A4' 'E1' 'F2' 'B5' 'C3' 'B1']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'emp_length' has 12 unique values.
Top 10 unique values: ['10+ years' '< 1 year' '3 years' '8 years' '9 years' '4 years' '5 years'
 '1 year' '6 years' '2 years']


Total null values: 1033
Percentage of null values: 2.68%
============

Column 'home_ownership' has 5 unique values.
Top 10 unique values: ['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'annual_inc' has 5215 unique values.
Top 10 unique values: [24000. 30000. 12252. 49200. 36000. 47004. 48000. 40000. 15000. 72000.]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'verification_status' has 3 unique values.
Top 10 unique values: ['Verified' 'Source Verified' 'Not Verified']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'issue_d' has 55 unique values.
Top 10 unique values: ['Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11'
 'Apr-11' 'Mar-11']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'loan_status' has 2 unique values.
Top 10 unique values: ['Fully Paid' 'Charged Off']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'pymnt_plan' has 1 unique values.
Top 10 unique values: ['n']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'desc' has 25804 unique values.
Top 10 unique values: ['  Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>'
 '  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike. I only need this money because the deal im looking at is to good to pass up.<br><br>  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike.I only need this money because the deal im looking at is to good to pass up. I have finished college with an associates degree in business and its takingmeplaces<br>'
 nan
 "  Borrower added on 12/21/11 > to pay for property tax (borrow from friend, need to pay back) & central A/C need to be replace. I'm very sorry to let my loan expired last time.<br>"
 '  Borrower added on 12/18/11 > I am planning on using the funds to pay off two retail credit cards with 24.99% interest rates, as well as a major bank credit card with a 18.99% rate.  I pay all my bills on time, looking for a lower combined payment and lower monthly payment.<br>'
 '  Borrower added on 12/16/11 > Downpayment for a car.<br>'
 '  Borrower added on 12/21/11 > I own a small home-based judgment collection business. I have 5 years experience collecting debts. I am now going from a home office to a small office. I also plan to buy a small debt portfolio (eg. $10K for $1M of debt) <br>My score is not A+ because I own my home and have no mortgage.<br>'
 "  Borrower added on 12/16/11 > I'm trying to build up my credit history. I live with my brother and have no car payment or credit cards. I am in community college and work full time. Im going to use the money to make some repairs around the house and get some maintenance done on my car.<br><br>  Borrower added on 12/20/11 > $1000 down only $4375 to go. Thanks to everyone that invested so far, looking forward to surprising my brother with the fixes around the house.<br>"
 '  Borrower added on 12/15/11 > I had recived a loan from Citi Financial about a year ago, I was paying 29.99 intrest, so the refinance is to cut that rate since cleaning up my credit I have been paying everything on time as shown on my credit report<br>'
 '  Borrower added on 12/15/11 > Plan to pay off 2 charge accounts. I will close one of them and ask for a credit line decrease from the other. Also borrowed money from a friend and would like to pay that off.......<br><br>  Borrower added on 12/17/11 > The credit card that I am asking to be decreased will be ONLY for emergency purposes.....<br>']


Total null values: 12527
Percentage of null values: 32.47%
============

Column 'purpose' has 14 unique values.
Top 10 unique values: ['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'title' has 19298 unique values.
Top 10 unique values: ['Computer' 'bike' 'real estate business' 'personel'
 'My wedding loan I promise to pay back' 'Loan' 'Car Downpayment'
 'Expand Business & Buy Debt Portfolio' 'Building my credit history.'
 'High intrest Consolidation']


Total null values: 11
Percentage of null values: 0.03%
============

Column 'zip_code' has 822 unique values.
Top 10 unique values: ['860xx' '309xx' '606xx' '917xx' '852xx' '280xx' '900xx' '958xx' '774xx'
 '853xx']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'addr_state' has 50 unique values.
Top 10 unique values: ['AZ' 'GA' 'IL' 'CA' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'dti' has 2853 unique values.
Top 10 unique values: [27.65  1.    8.72 20.   11.2  23.51  5.35  5.55 18.08 16.12]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'delinq_2yrs' has 11 unique values.
Top 10 unique values: [0 2 3 1 4 6 5 8 7 9]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'earliest_cr_line' has 524 unique values.
Top 10 unique values: ['Jan-85' 'Apr-99' 'Nov-01' 'Feb-96' 'Nov-04' 'Jul-05' 'Jan-07' 'Apr-04'
 'Sep-04' 'Jan-98']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'inq_last_6mths' has 9 unique values.
Top 10 unique values: [1 5 2 3 0 4 6 7 8]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'open_acc' has 40 unique values.
Top 10 unique values: [ 3  2 10  9  7  4 11 14 12 20]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'pub_rec' has 5 unique values.
Top 10 unique values: [0 1 2 3 4]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'revol_bal' has 21275 unique values.
Top 10 unique values: [13648  1687  2956  5598  7963 17726  8221  5210  9279  4032]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'revol_util' has 1089 unique values.
Top 10 unique values: ['83.70%' '9.40%' '98.50%' '21%' '28.30%' '85.60%' '87.50%' '32.60%'
 '36.50%' '20.60%']


Total null values: 50
Percentage of null values: 0.13%
============

Column 'total_acc' has 82 unique values.
Top 10 unique values: [ 9  4 10 37 12 11 13  3 23 34]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'initial_list_status' has 1 unique values.
Top 10 unique values: ['f']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'last_credit_pull_d' has 107 unique values.
Top 10 unique values: ['May-16' 'Sep-13' 'Apr-16' 'Jan-16' 'Dec-14' 'Aug-12' 'Mar-13' 'Dec-15'
 'Aug-13' 'Nov-12']


Total null values: 2
Percentage of null values: 0.01%
============

Column 'collections_12_mths_ex_med' has 2 unique values.
Top 10 unique values: [ 0. nan]


Total null values: 56
Percentage of null values: 0.15%
============

Column 'policy_code' has 1 unique values.
Top 10 unique values: [1]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'application_type' has 1 unique values.
Top 10 unique values: ['INDIVIDUAL']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'acc_now_delinq' has 1 unique values.
Top 10 unique values: [0]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'chargeoff_within_12_mths' has 2 unique values.
Top 10 unique values: [ 0. nan]


Total null values: 56
Percentage of null values: 0.15%
============

Column 'delinq_amnt' has 1 unique values.
Top 10 unique values: [0]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'pub_rec_bankruptcies' has 4 unique values.
Top 10 unique values: [ 0.  1.  2. nan]


Total null values: 697
Percentage of null values: 1.81%
============

Column 'tax_liens' has 2 unique values.
Top 10 unique values: [ 0. nan]


Total null values: 39
Percentage of null values: 0.10%
============

* Only 1 unique value, won't contribute to prediction

1. pymnt_plan
2. initial_list_status
3. policy_code
4. application_type
5. acc_now_delinq
6. delinq_amnt

In [24]:
df.drop(["pymnt_plan", "initial_list_status", "policy_code", "application_type", "acc_now_delinq", "delinq_amnt"], axis=1, inplace=True)

In [25]:
df.shape

(38577, 33)

In [26]:
utils.print_unique_values_and_null_stats(df)

Column 'loan_amnt' has 870 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'funded_amnt' has 1019 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'funded_amnt_inv' has 8050 unique values.
Top 10 unique values: [ 4975.  2500.  2400. 10000.  5000.  7000.  3000.  5600.  5350.  6500.]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'term' has 2 unique values.
Top 10 unique values: [' 36 months' ' 60 months']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'int_rate' has 370 unique values.
Top 10 unique values: ['10.65%' '15.27%' '15.96%' '13.49%' '7.90%' '18.64%' '21.28%' '12.69%'
 '14.65%' '9.91%']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'installment' has 15022 unique values.
Top 10 unique values: [162.87  59.83  84.33 339.31 156.46 170.08 109.43 152.39 121.45 153.45]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'grade' has 7 unique values.
Top 10 unique values: ['B' 'C' 'A' 'E' 'F' 'D' 'G']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'sub_grade' has 35 unique values.
Top 10 unique values: ['B2' 'C4' 'C5' 'C1' 'A4' 'E1' 'F2' 'B5' 'C3' 'B1']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'emp_length' has 12 unique values.
Top 10 unique values: ['10+ years' '< 1 year' '3 years' '8 years' '9 years' '4 years' '5 years'
 '1 year' '6 years' '2 years']


Total null values: 1033
Percentage of null values: 2.68%
============

Column 'home_ownership' has 5 unique values.
Top 10 unique values: ['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'annual_inc' has 5215 unique values.
Top 10 unique values: [24000. 30000. 12252. 49200. 36000. 47004. 48000. 40000. 15000. 72000.]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'verification_status' has 3 unique values.
Top 10 unique values: ['Verified' 'Source Verified' 'Not Verified']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'issue_d' has 55 unique values.
Top 10 unique values: ['Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11'
 'Apr-11' 'Mar-11']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'loan_status' has 2 unique values.
Top 10 unique values: ['Fully Paid' 'Charged Off']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'desc' has 25804 unique values.
Top 10 unique values: ['  Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>'
 '  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike. I only need this money because the deal im looking at is to good to pass up.<br><br>  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike.I only need this money because the deal im looking at is to good to pass up. I have finished college with an associates degree in business and its takingmeplaces<br>'
 nan
 "  Borrower added on 12/21/11 > to pay for property tax (borrow from friend, need to pay back) & central A/C need to be replace. I'm very sorry to let my loan expired last time.<br>"
 '  Borrower added on 12/18/11 > I am planning on using the funds to pay off two retail credit cards with 24.99% interest rates, as well as a major bank credit card with a 18.99% rate.  I pay all my bills on time, looking for a lower combined payment and lower monthly payment.<br>'
 '  Borrower added on 12/16/11 > Downpayment for a car.<br>'
 '  Borrower added on 12/21/11 > I own a small home-based judgment collection business. I have 5 years experience collecting debts. I am now going from a home office to a small office. I also plan to buy a small debt portfolio (eg. $10K for $1M of debt) <br>My score is not A+ because I own my home and have no mortgage.<br>'
 "  Borrower added on 12/16/11 > I'm trying to build up my credit history. I live with my brother and have no car payment or credit cards. I am in community college and work full time. Im going to use the money to make some repairs around the house and get some maintenance done on my car.<br><br>  Borrower added on 12/20/11 > $1000 down only $4375 to go. Thanks to everyone that invested so far, looking forward to surprising my brother with the fixes around the house.<br>"
 '  Borrower added on 12/15/11 > I had recived a loan from Citi Financial about a year ago, I was paying 29.99 intrest, so the refinance is to cut that rate since cleaning up my credit I have been paying everything on time as shown on my credit report<br>'
 '  Borrower added on 12/15/11 > Plan to pay off 2 charge accounts. I will close one of them and ask for a credit line decrease from the other. Also borrowed money from a friend and would like to pay that off.......<br><br>  Borrower added on 12/17/11 > The credit card that I am asking to be decreased will be ONLY for emergency purposes.....<br>']


Total null values: 12527
Percentage of null values: 32.47%
============

Column 'purpose' has 14 unique values.
Top 10 unique values: ['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'title' has 19298 unique values.
Top 10 unique values: ['Computer' 'bike' 'real estate business' 'personel'
 'My wedding loan I promise to pay back' 'Loan' 'Car Downpayment'
 'Expand Business & Buy Debt Portfolio' 'Building my credit history.'
 'High intrest Consolidation']


Total null values: 11
Percentage of null values: 0.03%
============

Column 'zip_code' has 822 unique values.
Top 10 unique values: ['860xx' '309xx' '606xx' '917xx' '852xx' '280xx' '900xx' '958xx' '774xx'
 '853xx']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'addr_state' has 50 unique values.
Top 10 unique values: ['AZ' 'GA' 'IL' 'CA' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'dti' has 2853 unique values.
Top 10 unique values: [27.65  1.    8.72 20.   11.2  23.51  5.35  5.55 18.08 16.12]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'delinq_2yrs' has 11 unique values.
Top 10 unique values: [0 2 3 1 4 6 5 8 7 9]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'earliest_cr_line' has 524 unique values.
Top 10 unique values: ['Jan-85' 'Apr-99' 'Nov-01' 'Feb-96' 'Nov-04' 'Jul-05' 'Jan-07' 'Apr-04'
 'Sep-04' 'Jan-98']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'inq_last_6mths' has 9 unique values.
Top 10 unique values: [1 5 2 3 0 4 6 7 8]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'open_acc' has 40 unique values.
Top 10 unique values: [ 3  2 10  9  7  4 11 14 12 20]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'pub_rec' has 5 unique values.
Top 10 unique values: [0 1 2 3 4]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'revol_bal' has 21275 unique values.
Top 10 unique values: [13648  1687  2956  5598  7963 17726  8221  5210  9279  4032]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'revol_util' has 1089 unique values.
Top 10 unique values: ['83.70%' '9.40%' '98.50%' '21%' '28.30%' '85.60%' '87.50%' '32.60%'
 '36.50%' '20.60%']


Total null values: 50
Percentage of null values: 0.13%
============

Column 'total_acc' has 82 unique values.
Top 10 unique values: [ 9  4 10 37 12 11 13  3 23 34]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'last_credit_pull_d' has 107 unique values.
Top 10 unique values: ['May-16' 'Sep-13' 'Apr-16' 'Jan-16' 'Dec-14' 'Aug-12' 'Mar-13' 'Dec-15'
 'Aug-13' 'Nov-12']


Total null values: 2
Percentage of null values: 0.01%
============

Column 'collections_12_mths_ex_med' has 2 unique values.
Top 10 unique values: [ 0. nan]


Total null values: 56
Percentage of null values: 0.15%
============

Column 'chargeoff_within_12_mths' has 2 unique values.
Top 10 unique values: [ 0. nan]


Total null values: 56
Percentage of null values: 0.15%
============

Column 'pub_rec_bankruptcies' has 4 unique values.
Top 10 unique values: [ 0.  1.  2. nan]


Total null values: 697
Percentage of null values: 1.81%
============

Column 'tax_liens' has 2 unique values.
Top 10 unique values: [ 0. nan]


Total null values: 39
Percentage of null values: 0.10%
============

* 2 uniqie values, analyze

1. collections_12_mths_ex_med - it has 56 rows with NAN values, and REST with 0.0 constant value. It won't be a good predictor as only 39 NAN cannot provide useful insight
2. chargeoff_within_12_mths -  it has 56 rows with NAN values, and REST with 0.0 constant value. It won't be a good predictor as only 39 NAN cannot provide useful insight
3. tax_liens. - it has 39 rows with NAN values, and REST with 0.0 constant value. It won't be a good predictor as only 39 NAN cannot provide useful insight

In [27]:
df.drop(["collections_12_mths_ex_med", "chargeoff_within_12_mths", "tax_liens"], axis=1, inplace=True)

In [28]:
df.shape

(38577, 30)

In [29]:
utils.print_unique_values_and_null_stats(df)

Column 'loan_amnt' has 870 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'funded_amnt' has 1019 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'funded_amnt_inv' has 8050 unique values.
Top 10 unique values: [ 4975.  2500.  2400. 10000.  5000.  7000.  3000.  5600.  5350.  6500.]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'term' has 2 unique values.
Top 10 unique values: [' 36 months' ' 60 months']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'int_rate' has 370 unique values.
Top 10 unique values: ['10.65%' '15.27%' '15.96%' '13.49%' '7.90%' '18.64%' '21.28%' '12.69%'
 '14.65%' '9.91%']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'installment' has 15022 unique values.
Top 10 unique values: [162.87  59.83  84.33 339.31 156.46 170.08 109.43 152.39 121.45 153.45]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'grade' has 7 unique values.
Top 10 unique values: ['B' 'C' 'A' 'E' 'F' 'D' 'G']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'sub_grade' has 35 unique values.
Top 10 unique values: ['B2' 'C4' 'C5' 'C1' 'A4' 'E1' 'F2' 'B5' 'C3' 'B1']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'emp_length' has 12 unique values.
Top 10 unique values: ['10+ years' '< 1 year' '3 years' '8 years' '9 years' '4 years' '5 years'
 '1 year' '6 years' '2 years']


Total null values: 1033
Percentage of null values: 2.68%
============

Column 'home_ownership' has 5 unique values.
Top 10 unique values: ['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'annual_inc' has 5215 unique values.
Top 10 unique values: [24000. 30000. 12252. 49200. 36000. 47004. 48000. 40000. 15000. 72000.]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'verification_status' has 3 unique values.
Top 10 unique values: ['Verified' 'Source Verified' 'Not Verified']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'issue_d' has 55 unique values.
Top 10 unique values: ['Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11'
 'Apr-11' 'Mar-11']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'loan_status' has 2 unique values.
Top 10 unique values: ['Fully Paid' 'Charged Off']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'desc' has 25804 unique values.
Top 10 unique values: ['  Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>'
 '  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike. I only need this money because the deal im looking at is to good to pass up.<br><br>  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike.I only need this money because the deal im looking at is to good to pass up. I have finished college with an associates degree in business and its takingmeplaces<br>'
 nan
 "  Borrower added on 12/21/11 > to pay for property tax (borrow from friend, need to pay back) & central A/C need to be replace. I'm very sorry to let my loan expired last time.<br>"
 '  Borrower added on 12/18/11 > I am planning on using the funds to pay off two retail credit cards with 24.99% interest rates, as well as a major bank credit card with a 18.99% rate.  I pay all my bills on time, looking for a lower combined payment and lower monthly payment.<br>'
 '  Borrower added on 12/16/11 > Downpayment for a car.<br>'
 '  Borrower added on 12/21/11 > I own a small home-based judgment collection business. I have 5 years experience collecting debts. I am now going from a home office to a small office. I also plan to buy a small debt portfolio (eg. $10K for $1M of debt) <br>My score is not A+ because I own my home and have no mortgage.<br>'
 "  Borrower added on 12/16/11 > I'm trying to build up my credit history. I live with my brother and have no car payment or credit cards. I am in community college and work full time. Im going to use the money to make some repairs around the house and get some maintenance done on my car.<br><br>  Borrower added on 12/20/11 > $1000 down only $4375 to go. Thanks to everyone that invested so far, looking forward to surprising my brother with the fixes around the house.<br>"
 '  Borrower added on 12/15/11 > I had recived a loan from Citi Financial about a year ago, I was paying 29.99 intrest, so the refinance is to cut that rate since cleaning up my credit I have been paying everything on time as shown on my credit report<br>'
 '  Borrower added on 12/15/11 > Plan to pay off 2 charge accounts. I will close one of them and ask for a credit line decrease from the other. Also borrowed money from a friend and would like to pay that off.......<br><br>  Borrower added on 12/17/11 > The credit card that I am asking to be decreased will be ONLY for emergency purposes.....<br>']


Total null values: 12527
Percentage of null values: 32.47%
============

Column 'purpose' has 14 unique values.
Top 10 unique values: ['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'title' has 19298 unique values.
Top 10 unique values: ['Computer' 'bike' 'real estate business' 'personel'
 'My wedding loan I promise to pay back' 'Loan' 'Car Downpayment'
 'Expand Business & Buy Debt Portfolio' 'Building my credit history.'
 'High intrest Consolidation']


Total null values: 11
Percentage of null values: 0.03%
============

Column 'zip_code' has 822 unique values.
Top 10 unique values: ['860xx' '309xx' '606xx' '917xx' '852xx' '280xx' '900xx' '958xx' '774xx'
 '853xx']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'addr_state' has 50 unique values.
Top 10 unique values: ['AZ' 'GA' 'IL' 'CA' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'dti' has 2853 unique values.
Top 10 unique values: [27.65  1.    8.72 20.   11.2  23.51  5.35  5.55 18.08 16.12]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'delinq_2yrs' has 11 unique values.
Top 10 unique values: [0 2 3 1 4 6 5 8 7 9]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'earliest_cr_line' has 524 unique values.
Top 10 unique values: ['Jan-85' 'Apr-99' 'Nov-01' 'Feb-96' 'Nov-04' 'Jul-05' 'Jan-07' 'Apr-04'
 'Sep-04' 'Jan-98']


Total null values: 0
Percentage of null values: 0.00%
============

Column 'inq_last_6mths' has 9 unique values.
Top 10 unique values: [1 5 2 3 0 4 6 7 8]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'open_acc' has 40 unique values.
Top 10 unique values: [ 3  2 10  9  7  4 11 14 12 20]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'pub_rec' has 5 unique values.
Top 10 unique values: [0 1 2 3 4]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'revol_bal' has 21275 unique values.
Top 10 unique values: [13648  1687  2956  5598  7963 17726  8221  5210  9279  4032]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'revol_util' has 1089 unique values.
Top 10 unique values: ['83.70%' '9.40%' '98.50%' '21%' '28.30%' '85.60%' '87.50%' '32.60%'
 '36.50%' '20.60%']


Total null values: 50
Percentage of null values: 0.13%
============

Column 'total_acc' has 82 unique values.
Top 10 unique values: [ 9  4 10 37 12 11 13  3 23 34]


Total null values: 0
Percentage of null values: 0.00%
============

Column 'last_credit_pull_d' has 107 unique values.
Top 10 unique values: ['May-16' 'Sep-13' 'Apr-16' 'Jan-16' 'Dec-14' 'Aug-12' 'Mar-13' 'Dec-15'
 'Aug-13' 'Nov-12']


Total null values: 2
Percentage of null values: 0.01%
============

Column 'pub_rec_bankruptcies' has 4 unique values.
Top 10 unique values: [ 0.  1.  2. nan]


Total null values: 697
Percentage of null values: 1.81%
============

In [30]:
utils.print_null_stats(df)

loan_amnt                   0
funded_amnt                 0
funded_amnt_inv             0
term                        0
int_rate                    0
installment                 0
grade                       0
sub_grade                   0
emp_length               1033
home_ownership              0
annual_inc                  0
verification_status         0
issue_d                     0
loan_status                 0
desc                    12527
purpose                     0
title                      11
zip_code                    0
addr_state                  0
dti                         0
delinq_2yrs                 0
earliest_cr_line            0
inq_last_6mths              0
open_acc                    0
pub_rec                     0
revol_bal                   0
revol_util                 50
total_acc                   0
last_credit_pull_d          2
pub_rec_bankruptcies      697
dtype: int64
loan_amnt                0.00
funded_amnt              0.00
funded_amnt_inv          0.00
term                     0.00
int_rate                 0.00
installment              0.00
grade                    0.00
sub_grade                0.00
emp_length               2.68
home_ownership           0.00
annual_inc               0.00
verification_status      0.00
issue_d                  0.00
loan_status              0.00
desc                    32.47
purpose                  0.00
title                    0.03
zip_code                 0.00
addr_state               0.00
dti                      0.00
delinq_2yrs              0.00
earliest_cr_line         0.00
inq_last_6mths           0.00
open_acc                 0.00
pub_rec                  0.00
revol_bal                0.00
revol_util               0.13
total_acc                0.00
last_credit_pull_d       0.01
pub_rec_bankruptcies     1.81
dtype: float64
                      Count  Percentage
loan_amnt                 0        0.00
funded_amnt               0        0.00
funded_amnt_inv           0        0.00
term                      0        0.00
int_rate                  0        0.00
installment               0        0.00
grade                     0        0.00
sub_grade                 0        0.00
emp_length             1033        2.68
home_ownership            0        0.00
annual_inc                0        0.00
verification_status       0        0.00
issue_d                   0        0.00
loan_status               0        0.00
desc                  12527       32.47
purpose                   0        0.00
title                    11        0.03
zip_code                  0        0.00
addr_state                0        0.00
dti                       0        0.00
delinq_2yrs               0        0.00
earliest_cr_line          0        0.00
inq_last_6mths            0        0.00
open_acc                  0        0.00
pub_rec                   0        0.00
revol_bal                 0        0.00
revol_util               50        0.13
total_acc                 0        0.00
last_credit_pull_d        2        0.01
pub_rec_bankruptcies    697        1.81

In [31]:
df["title"].value_counts()

Debt Consolidation           2090
Debt Consolidation Loan      1620
Personal Loan                 641
Consolidation                 491
debt consolidation            478
                             ...
Murray Loan                     1
Need debt consolidation!        1
freedom2                        1
DAVE WEDDING                    1
JAL Loan                        1
Name: title, Length: 19297, dtype: int64

In [32]:
df.shape

(38577, 30)

* small amount of null value in some columns. removing the rows with null value for those columns won't impact the prediction significantly
1. title
2. revol_util
3. last_credit_pull_d

In [33]:
df.dropna(subset=["title", "revol_util", "last_credit_pull_d"], inplace=True)

In [34]:
utils.print_null_stats(df)

loan_amnt                   0
funded_amnt                 0
funded_amnt_inv             0
term                        0
int_rate                    0
installment                 0
grade                       0
sub_grade                   0
emp_length               1029
home_ownership              0
annual_inc                  0
verification_status         0
issue_d                     0
loan_status                 0
desc                    12505
purpose                     0
title                       0
zip_code                    0
addr_state                  0
dti                         0
delinq_2yrs                 0
earliest_cr_line            0
inq_last_6mths              0
open_acc                    0
pub_rec                     0
revol_bal                   0
revol_util                  0
total_acc                   0
last_credit_pull_d          0
pub_rec_bankruptcies      696
dtype: int64
loan_amnt                0.00
funded_amnt              0.00
funded_amnt_inv          0.00
term                     0.00
int_rate                 0.00
installment              0.00
grade                    0.00
sub_grade                0.00
emp_length               2.67
home_ownership           0.00
annual_inc               0.00
verification_status      0.00
issue_d                  0.00
loan_status              0.00
desc                    32.47
purpose                  0.00
title                    0.00
zip_code                 0.00
addr_state               0.00
dti                      0.00
delinq_2yrs              0.00
earliest_cr_line         0.00
inq_last_6mths           0.00
open_acc                 0.00
pub_rec                  0.00
revol_bal                0.00
revol_util               0.00
total_acc                0.00
last_credit_pull_d       0.00
pub_rec_bankruptcies     1.81
dtype: float64
                      Count  Percentage
loan_amnt                 0        0.00
funded_amnt               0        0.00
funded_amnt_inv           0        0.00
term                      0        0.00
int_rate                  0        0.00
installment               0        0.00
grade                     0        0.00
sub_grade                 0        0.00
emp_length             1029        2.67
home_ownership            0        0.00
annual_inc                0        0.00
verification_status       0        0.00
issue_d                   0        0.00
loan_status               0        0.00
desc                  12505       32.47
purpose                   0        0.00
title                     0        0.00
zip_code                  0        0.00
addr_state                0        0.00
dti                       0        0.00
delinq_2yrs               0        0.00
earliest_cr_line          0        0.00
inq_last_6mths            0        0.00
open_acc                  0        0.00
pub_rec                   0        0.00
revol_bal                 0        0.00
revol_util                0        0.00
total_acc                 0        0.00
last_credit_pull_d        0        0.00
pub_rec_bankruptcies    696        1.81

* description won't be helpful for EDA
- desc

In [35]:
df.drop(["desc"], axis=1, inplace=True)

In [36]:
utils.print_null_stats(df)

loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_length              1029
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
purpose                    0
title                      0
zip_code                   0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
last_credit_pull_d         0
pub_rec_bankruptcies     696
dtype: int64
loan_amnt               0.00
funded_amnt             0.00
funded_amnt_inv         0.00
term                    0.00
int_rate                0.00
installment             0.00
grade                   0.00
sub_grade               0.00
emp_length              2.67
home_ownership          0.00
annual_inc              0.00
verification_status     0.00
issue_d                 0.00
loan_status             0.00
purpose                 0.00
title                   0.00
zip_code                0.00
addr_state              0.00
dti                     0.00
delinq_2yrs             0.00
earliest_cr_line        0.00
inq_last_6mths          0.00
open_acc                0.00
pub_rec                 0.00
revol_bal               0.00
revol_util              0.00
total_acc               0.00
last_credit_pull_d      0.00
pub_rec_bankruptcies    1.81
dtype: float64
                      Count  Percentage
loan_amnt                 0        0.00
funded_amnt               0        0.00
funded_amnt_inv           0        0.00
term                      0        0.00
int_rate                  0        0.00
installment               0        0.00
grade                     0        0.00
sub_grade                 0        0.00
emp_length             1029        2.67
home_ownership            0        0.00
annual_inc                0        0.00
verification_status       0        0.00
issue_d                   0        0.00
loan_status               0        0.00
purpose                   0        0.00
title                     0        0.00
zip_code                  0        0.00
addr_state                0        0.00
dti                       0        0.00
delinq_2yrs               0        0.00
earliest_cr_line          0        0.00
inq_last_6mths            0        0.00
open_acc                  0        0.00
pub_rec                   0        0.00
revol_bal                 0        0.00
revol_util                0        0.00
total_acc                 0        0.00
last_credit_pull_d        0        0.00
pub_rec_bankruptcies    696        1.81

* Now we have only 2 columns with null values
- emp_length
- pub_rec_bankruptcies

In [37]:
df["emp_length"].value_counts()

10+ years    8486
< 1 year     4494
2 years      4286
3 years      4008
4 years      3333
5 years      3187
1 year       3162
6 years      2164
7 years      1707
8 years      1433
9 years      1225
Name: emp_length, dtype: int64

In [38]:
df[df["emp_length"].isna()].head()

     loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  installment grade sub_grade emp_length home_ownership  annual_inc verification_status issue_d  loan_status             purpose                       title zip_code addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  open_acc  pub_rec  revol_bal revol_util  total_acc last_credit_pull_d  pub_rec_bankruptcies
168       2500         2500           2500.0   36 months    7.51%        77.78     A        A3        NaN            OWN     12000.0     Source Verified  Dec-11  Charged Off  debt_consolidation            GET FREE OF DEBT    961xx         CA  16.30            0           Aug-94               2        13        0       4853     42.20%         20             May-16                   0.0
323      18000        18000          18000.0   60 months   17.58%       452.98     D        D4        NaN       MORTGAGE     60000.0            Verified  Dec-11   Fully Paid  debt_consolidation               consolidation    363xx         AL  21.96            0           Mar-03               1        11        0       5945     83.70%         28             Sep-15                   0.0
394       4000         4000           4000.0   36 months   11.71%       132.31     B        B3        NaN           RENT     24000.0     Source Verified  Dec-11   Fully Paid    home_improvement  Reline pool and fix steeps    328xx         FL   7.50            1           Feb-05               0         4        0       1593     54.90%          6             May-12                   0.0
422       1000         1000           1000.0   36 months   14.65%        34.50     C        C3        NaN           RENT     18408.0        Not Verified  Dec-11  Charged Off      major_purchase                      Myloan    080xx         NJ   6.00            0           Apr-93               2         3        1       2510     83.70%          8             Jun-12                   1.0
439       8250         8250           8250.0   36 months    7.51%       256.67     A        A3        NaN       MORTGAGE     31500.0            Verified  Dec-11   Fully Paid  debt_consolidation                     do over    218xx         MD  17.87            0           Dec-81               4        17        0       7521     10.40%         37             Dec-14                   0.0

In [39]:
df.shape

(38514, 29)

Following features have only 2.7% and 1.8% null values
Hoping that dropping them won't impact prediction significantly.
1. emp_length
2. pub_rec_bankruptcies

In [40]:
df.dropna(subset=["emp_length", "pub_rec_bankruptcies"], inplace=True)

In [41]:
utils.print_null_stats(df)

loan_amnt               0
funded_amnt             0
funded_amnt_inv         0
term                    0
int_rate                0
installment             0
grade                   0
sub_grade               0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
issue_d                 0
loan_status             0
purpose                 0
title                   0
zip_code                0
addr_state              0
dti                     0
delinq_2yrs             0
earliest_cr_line        0
inq_last_6mths          0
open_acc                0
pub_rec                 0
revol_bal               0
revol_util              0
total_acc               0
last_credit_pull_d      0
pub_rec_bankruptcies    0
dtype: int64
loan_amnt               0.0
funded_amnt             0.0
funded_amnt_inv         0.0
term                    0.0
int_rate                0.0
installment             0.0
grade                   0.0
sub_grade               0.0
emp_length              0.0
home_ownership          0.0
annual_inc              0.0
verification_status     0.0
issue_d                 0.0
loan_status             0.0
purpose                 0.0
title                   0.0
zip_code                0.0
addr_state              0.0
dti                     0.0
delinq_2yrs             0.0
earliest_cr_line        0.0
inq_last_6mths          0.0
open_acc                0.0
pub_rec                 0.0
revol_bal               0.0
revol_util              0.0
total_acc               0.0
last_credit_pull_d      0.0
pub_rec_bankruptcies    0.0
dtype: float64
                      Count  Percentage
loan_amnt                 0         0.0
funded_amnt               0         0.0
funded_amnt_inv           0         0.0
term                      0         0.0
int_rate                  0         0.0
installment               0         0.0
grade                     0         0.0
sub_grade                 0         0.0
emp_length                0         0.0
home_ownership            0         0.0
annual_inc                0         0.0
verification_status       0         0.0
issue_d                   0         0.0
loan_status               0         0.0
purpose                   0         0.0
title                     0         0.0
zip_code                  0         0.0
addr_state                0         0.0
dti                       0         0.0
delinq_2yrs               0         0.0
earliest_cr_line          0         0.0
inq_last_6mths            0         0.0
open_acc                  0         0.0
pub_rec                   0         0.0
revol_bal                 0         0.0
revol_util                0         0.0
total_acc                 0         0.0
last_credit_pull_d        0         0.0
pub_rec_bankruptcies      0         0.0

In [42]:
df.shape

(36789, 29)

* Finally we got rid of all the null values.
* Now Let's investigate the values within the columns

In [43]:
utils.print_unique_values(df)

Column 'loan_amnt' has 855 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Column 'funded_amnt' has 1009 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Column 'funded_amnt_inv' has 7593 unique values.
Top 10 unique values: [ 4975.  2500.  2400. 10000.  5000.  7000.  3000.  5600.  5350.  6500.]


Column 'term' has 2 unique values.
Top 10 unique values: [' 36 months' ' 60 months']


Column 'int_rate' has 336 unique values.
Top 10 unique values: ['10.65%' '15.27%' '15.96%' '13.49%' '7.90%' '18.64%' '21.28%' '12.69%'
 '14.65%' '9.91%']


Column 'installment' has 14382 unique values.
Top 10 unique values: [162.87  59.83  84.33 339.31 156.46 170.08 109.43 152.39 121.45 153.45]


Column 'grade' has 7 unique values.
Top 10 unique values: ['B' 'C' 'A' 'E' 'F' 'D' 'G']


Column 'sub_grade' has 35 unique values.
Top 10 unique values: ['B2' 'C4' 'C5' 'C1' 'A4' 'E1' 'F2' 'B5' 'C3' 'B1']


Column 'emp_length' has 11 unique values.
Top 10 unique values: ['10+ years' '< 1 year' '3 years' '8 years' '9 years' '4 years' '5 years'
 '1 year' '6 years' '2 years']


Column 'home_ownership' has 4 unique values.
Top 10 unique values: ['RENT' 'OWN' 'MORTGAGE' 'OTHER']


Column 'annual_inc' has 4937 unique values.
Top 10 unique values: [24000. 30000. 12252. 49200. 36000. 47004. 48000. 40000. 15000. 72000.]


Column 'verification_status' has 3 unique values.
Top 10 unique values: ['Verified' 'Source Verified' 'Not Verified']


Column 'issue_d' has 52 unique values.
Top 10 unique values: ['Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11'
 'Apr-11' 'Mar-11']


Column 'loan_status' has 2 unique values.
Top 10 unique values: ['Fully Paid' 'Charged Off']


Column 'purpose' has 14 unique values.
Top 10 unique values: ['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving']


Column 'title' has 18401 unique values.
Top 10 unique values: ['Computer' 'bike' 'real estate business' 'personel'
 'My wedding loan I promise to pay back' 'Loan' 'Car Downpayment'
 'Expand Business & Buy Debt Portfolio' 'Building my credit history.'
 'High intrest Consolidation']


Column 'zip_code' has 808 unique values.
Top 10 unique values: ['860xx' '309xx' '606xx' '917xx' '852xx' '280xx' '900xx' '958xx' '774xx'
 '853xx']


Column 'addr_state' has 49 unique values.
Top 10 unique values: ['AZ' 'GA' 'IL' 'CA' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT']


Column 'dti' has 2848 unique values.
Top 10 unique values: [27.65  1.    8.72 20.   11.2  23.51  5.35  5.55 18.08 16.12]


Column 'delinq_2yrs' has 11 unique values.
Top 10 unique values: [0 2 3 1 4 6 5 8 7 9]


Column 'earliest_cr_line' has 513 unique values.
Top 10 unique values: ['Jan-85' 'Apr-99' 'Nov-01' 'Feb-96' 'Nov-04' 'Jul-05' 'Jan-07' 'Apr-04'
 'Sep-04' 'Jan-98']


Column 'inq_last_6mths' has 9 unique values.
Top 10 unique values: [1 5 2 3 0 4 6 7 8]


Column 'open_acc' has 38 unique values.
Top 10 unique values: [ 3  2 10  9  7  4 11 14 12 20]


Column 'pub_rec' has 5 unique values.
Top 10 unique values: [0 1 2 3 4]


Column 'revol_bal' has 20774 unique values.
Top 10 unique values: [13648  1687  2956  5598  7963 17726  8221  5210  9279  4032]


Column 'revol_util' has 1086 unique values.
Top 10 unique values: ['83.70%' '9.40%' '98.50%' '21%' '28.30%' '85.60%' '87.50%' '32.60%'
 '36.50%' '20.60%']


Column 'total_acc' has 81 unique values.
Top 10 unique values: [ 9  4 10 37 12 11 13  3 23 34]


Column 'last_credit_pull_d' has 97 unique values.
Top 10 unique values: ['May-16' 'Sep-13' 'Apr-16' 'Jan-16' 'Dec-14' 'Aug-12' 'Mar-13' 'Dec-15'
 'Aug-13' 'Nov-12']


Column 'pub_rec_bankruptcies' has 3 unique values.
Top 10 unique values: [0. 1. 2.]

* Removing "months" string from "term" column

In [44]:
df["term"] = df["term"].str.extract('(\d+)').astype(int)

In [45]:
utils.print_unique_values(df)

Column 'loan_amnt' has 855 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Column 'funded_amnt' has 1009 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Column 'funded_amnt_inv' has 7593 unique values.
Top 10 unique values: [ 4975.  2500.  2400. 10000.  5000.  7000.  3000.  5600.  5350.  6500.]


Column 'term' has 2 unique values.
Top 10 unique values: [36 60]


Column 'int_rate' has 336 unique values.
Top 10 unique values: ['10.65%' '15.27%' '15.96%' '13.49%' '7.90%' '18.64%' '21.28%' '12.69%'
 '14.65%' '9.91%']


Column 'installment' has 14382 unique values.
Top 10 unique values: [162.87  59.83  84.33 339.31 156.46 170.08 109.43 152.39 121.45 153.45]


Column 'grade' has 7 unique values.
Top 10 unique values: ['B' 'C' 'A' 'E' 'F' 'D' 'G']


Column 'sub_grade' has 35 unique values.
Top 10 unique values: ['B2' 'C4' 'C5' 'C1' 'A4' 'E1' 'F2' 'B5' 'C3' 'B1']


Column 'emp_length' has 11 unique values.
Top 10 unique values: ['10+ years' '< 1 year' '3 years' '8 years' '9 years' '4 years' '5 years'
 '1 year' '6 years' '2 years']


Column 'home_ownership' has 4 unique values.
Top 10 unique values: ['RENT' 'OWN' 'MORTGAGE' 'OTHER']


Column 'annual_inc' has 4937 unique values.
Top 10 unique values: [24000. 30000. 12252. 49200. 36000. 47004. 48000. 40000. 15000. 72000.]


Column 'verification_status' has 3 unique values.
Top 10 unique values: ['Verified' 'Source Verified' 'Not Verified']


Column 'issue_d' has 52 unique values.
Top 10 unique values: ['Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11'
 'Apr-11' 'Mar-11']


Column 'loan_status' has 2 unique values.
Top 10 unique values: ['Fully Paid' 'Charged Off']


Column 'purpose' has 14 unique values.
Top 10 unique values: ['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving']


Column 'title' has 18401 unique values.
Top 10 unique values: ['Computer' 'bike' 'real estate business' 'personel'
 'My wedding loan I promise to pay back' 'Loan' 'Car Downpayment'
 'Expand Business & Buy Debt Portfolio' 'Building my credit history.'
 'High intrest Consolidation']


Column 'zip_code' has 808 unique values.
Top 10 unique values: ['860xx' '309xx' '606xx' '917xx' '852xx' '280xx' '900xx' '958xx' '774xx'
 '853xx']


Column 'addr_state' has 49 unique values.
Top 10 unique values: ['AZ' 'GA' 'IL' 'CA' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT']


Column 'dti' has 2848 unique values.
Top 10 unique values: [27.65  1.    8.72 20.   11.2  23.51  5.35  5.55 18.08 16.12]


Column 'delinq_2yrs' has 11 unique values.
Top 10 unique values: [0 2 3 1 4 6 5 8 7 9]


Column 'earliest_cr_line' has 513 unique values.
Top 10 unique values: ['Jan-85' 'Apr-99' 'Nov-01' 'Feb-96' 'Nov-04' 'Jul-05' 'Jan-07' 'Apr-04'
 'Sep-04' 'Jan-98']


Column 'inq_last_6mths' has 9 unique values.
Top 10 unique values: [1 5 2 3 0 4 6 7 8]


Column 'open_acc' has 38 unique values.
Top 10 unique values: [ 3  2 10  9  7  4 11 14 12 20]


Column 'pub_rec' has 5 unique values.
Top 10 unique values: [0 1 2 3 4]


Column 'revol_bal' has 20774 unique values.
Top 10 unique values: [13648  1687  2956  5598  7963 17726  8221  5210  9279  4032]


Column 'revol_util' has 1086 unique values.
Top 10 unique values: ['83.70%' '9.40%' '98.50%' '21%' '28.30%' '85.60%' '87.50%' '32.60%'
 '36.50%' '20.60%']


Column 'total_acc' has 81 unique values.
Top 10 unique values: [ 9  4 10 37 12 11 13  3 23 34]


Column 'last_credit_pull_d' has 97 unique values.
Top 10 unique values: ['May-16' 'Sep-13' 'Apr-16' 'Jan-16' 'Dec-14' 'Aug-12' 'Mar-13' 'Dec-15'
 'Aug-13' 'Nov-12']


Column 'pub_rec_bankruptcies' has 3 unique values.
Top 10 unique values: [0. 1. 2.]

Removing % symbol from int_rate column

In [46]:
df["int_rate"] = df["int_rate"].str.replace("%", "")

In [47]:
utils.print_unique_values(df)

Column 'loan_amnt' has 855 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Column 'funded_amnt' has 1009 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Column 'funded_amnt_inv' has 7593 unique values.
Top 10 unique values: [ 4975.  2500.  2400. 10000.  5000.  7000.  3000.  5600.  5350.  6500.]


Column 'term' has 2 unique values.
Top 10 unique values: [36 60]


Column 'int_rate' has 336 unique values.
Top 10 unique values: ['10.65' '15.27' '15.96' '13.49' '7.90' '18.64' '21.28' '12.69' '14.65'
 '9.91']


Column 'installment' has 14382 unique values.
Top 10 unique values: [162.87  59.83  84.33 339.31 156.46 170.08 109.43 152.39 121.45 153.45]


Column 'grade' has 7 unique values.
Top 10 unique values: ['B' 'C' 'A' 'E' 'F' 'D' 'G']


Column 'sub_grade' has 35 unique values.
Top 10 unique values: ['B2' 'C4' 'C5' 'C1' 'A4' 'E1' 'F2' 'B5' 'C3' 'B1']


Column 'emp_length' has 11 unique values.
Top 10 unique values: ['10+ years' '< 1 year' '3 years' '8 years' '9 years' '4 years' '5 years'
 '1 year' '6 years' '2 years']


Column 'home_ownership' has 4 unique values.
Top 10 unique values: ['RENT' 'OWN' 'MORTGAGE' 'OTHER']


Column 'annual_inc' has 4937 unique values.
Top 10 unique values: [24000. 30000. 12252. 49200. 36000. 47004. 48000. 40000. 15000. 72000.]


Column 'verification_status' has 3 unique values.
Top 10 unique values: ['Verified' 'Source Verified' 'Not Verified']


Column 'issue_d' has 52 unique values.
Top 10 unique values: ['Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11'
 'Apr-11' 'Mar-11']


Column 'loan_status' has 2 unique values.
Top 10 unique values: ['Fully Paid' 'Charged Off']


Column 'purpose' has 14 unique values.
Top 10 unique values: ['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving']


Column 'title' has 18401 unique values.
Top 10 unique values: ['Computer' 'bike' 'real estate business' 'personel'
 'My wedding loan I promise to pay back' 'Loan' 'Car Downpayment'
 'Expand Business & Buy Debt Portfolio' 'Building my credit history.'
 'High intrest Consolidation']


Column 'zip_code' has 808 unique values.
Top 10 unique values: ['860xx' '309xx' '606xx' '917xx' '852xx' '280xx' '900xx' '958xx' '774xx'
 '853xx']


Column 'addr_state' has 49 unique values.
Top 10 unique values: ['AZ' 'GA' 'IL' 'CA' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT']


Column 'dti' has 2848 unique values.
Top 10 unique values: [27.65  1.    8.72 20.   11.2  23.51  5.35  5.55 18.08 16.12]


Column 'delinq_2yrs' has 11 unique values.
Top 10 unique values: [0 2 3 1 4 6 5 8 7 9]


Column 'earliest_cr_line' has 513 unique values.
Top 10 unique values: ['Jan-85' 'Apr-99' 'Nov-01' 'Feb-96' 'Nov-04' 'Jul-05' 'Jan-07' 'Apr-04'
 'Sep-04' 'Jan-98']


Column 'inq_last_6mths' has 9 unique values.
Top 10 unique values: [1 5 2 3 0 4 6 7 8]


Column 'open_acc' has 38 unique values.
Top 10 unique values: [ 3  2 10  9  7  4 11 14 12 20]


Column 'pub_rec' has 5 unique values.
Top 10 unique values: [0 1 2 3 4]


Column 'revol_bal' has 20774 unique values.
Top 10 unique values: [13648  1687  2956  5598  7963 17726  8221  5210  9279  4032]


Column 'revol_util' has 1086 unique values.
Top 10 unique values: ['83.70%' '9.40%' '98.50%' '21%' '28.30%' '85.60%' '87.50%' '32.60%'
 '36.50%' '20.60%']


Column 'total_acc' has 81 unique values.
Top 10 unique values: [ 9  4 10 37 12 11 13  3 23 34]


Column 'last_credit_pull_d' has 97 unique values.
Top 10 unique values: ['May-16' 'Sep-13' 'Apr-16' 'Jan-16' 'Dec-14' 'Aug-12' 'Mar-13' 'Dec-15'
 'Aug-13' 'Nov-12']


Column 'pub_rec_bankruptcies' has 3 unique values.
Top 10 unique values: [0. 1. 2.]

In [48]:
emp_length_dict = {
    '< 1 year' : 0,
    '1 year' : 1,
    '2 years' : 2,
    '3 years' : 3,
    '4 years' : 4,
    '5 years' : 5,
    '6 years' : 6,
    '7 years' : 7,
    '8 years' : 8,
    '9 years' : 9,
    '10+ years': 10
}
df = df.replace({"emp_length" : emp_length_dict})

In [49]:
utils.print_unique_values(df)

Column 'loan_amnt' has 855 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Column 'funded_amnt' has 1009 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Column 'funded_amnt_inv' has 7593 unique values.
Top 10 unique values: [ 4975.  2500.  2400. 10000.  5000.  7000.  3000.  5600.  5350.  6500.]


Column 'term' has 2 unique values.
Top 10 unique values: [36 60]


Column 'int_rate' has 336 unique values.
Top 10 unique values: ['10.65' '15.27' '15.96' '13.49' '7.90' '18.64' '21.28' '12.69' '14.65'
 '9.91']


Column 'installment' has 14382 unique values.
Top 10 unique values: [162.87  59.83  84.33 339.31 156.46 170.08 109.43 152.39 121.45 153.45]


Column 'grade' has 7 unique values.
Top 10 unique values: ['B' 'C' 'A' 'E' 'F' 'D' 'G']


Column 'sub_grade' has 35 unique values.
Top 10 unique values: ['B2' 'C4' 'C5' 'C1' 'A4' 'E1' 'F2' 'B5' 'C3' 'B1']


Column 'emp_length' has 11 unique values.
Top 10 unique values: [10  0  3  8  9  4  5  1  6  2]


Column 'home_ownership' has 4 unique values.
Top 10 unique values: ['RENT' 'OWN' 'MORTGAGE' 'OTHER']


Column 'annual_inc' has 4937 unique values.
Top 10 unique values: [24000. 30000. 12252. 49200. 36000. 47004. 48000. 40000. 15000. 72000.]


Column 'verification_status' has 3 unique values.
Top 10 unique values: ['Verified' 'Source Verified' 'Not Verified']


Column 'issue_d' has 52 unique values.
Top 10 unique values: ['Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11'
 'Apr-11' 'Mar-11']


Column 'loan_status' has 2 unique values.
Top 10 unique values: ['Fully Paid' 'Charged Off']


Column 'purpose' has 14 unique values.
Top 10 unique values: ['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving']


Column 'title' has 18401 unique values.
Top 10 unique values: ['Computer' 'bike' 'real estate business' 'personel'
 'My wedding loan I promise to pay back' 'Loan' 'Car Downpayment'
 'Expand Business & Buy Debt Portfolio' 'Building my credit history.'
 'High intrest Consolidation']


Column 'zip_code' has 808 unique values.
Top 10 unique values: ['860xx' '309xx' '606xx' '917xx' '852xx' '280xx' '900xx' '958xx' '774xx'
 '853xx']


Column 'addr_state' has 49 unique values.
Top 10 unique values: ['AZ' 'GA' 'IL' 'CA' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT']


Column 'dti' has 2848 unique values.
Top 10 unique values: [27.65  1.    8.72 20.   11.2  23.51  5.35  5.55 18.08 16.12]


Column 'delinq_2yrs' has 11 unique values.
Top 10 unique values: [0 2 3 1 4 6 5 8 7 9]


Column 'earliest_cr_line' has 513 unique values.
Top 10 unique values: ['Jan-85' 'Apr-99' 'Nov-01' 'Feb-96' 'Nov-04' 'Jul-05' 'Jan-07' 'Apr-04'
 'Sep-04' 'Jan-98']


Column 'inq_last_6mths' has 9 unique values.
Top 10 unique values: [1 5 2 3 0 4 6 7 8]


Column 'open_acc' has 38 unique values.
Top 10 unique values: [ 3  2 10  9  7  4 11 14 12 20]


Column 'pub_rec' has 5 unique values.
Top 10 unique values: [0 1 2 3 4]


Column 'revol_bal' has 20774 unique values.
Top 10 unique values: [13648  1687  2956  5598  7963 17726  8221  5210  9279  4032]


Column 'revol_util' has 1086 unique values.
Top 10 unique values: ['83.70%' '9.40%' '98.50%' '21%' '28.30%' '85.60%' '87.50%' '32.60%'
 '36.50%' '20.60%']


Column 'total_acc' has 81 unique values.
Top 10 unique values: [ 9  4 10 37 12 11 13  3 23 34]


Column 'last_credit_pull_d' has 97 unique values.
Top 10 unique values: ['May-16' 'Sep-13' 'Apr-16' 'Jan-16' 'Dec-14' 'Aug-12' 'Mar-13' 'Dec-15'
 'Aug-13' 'Nov-12']


Column 'pub_rec_bankruptcies' has 3 unique values.
Top 10 unique values: [0. 1. 2.]

* Remove xx from zip

In [50]:
df["zip_code"] = df["zip_code"].str.replace("xx", "")

In [51]:
utils.print_unique_values(df)

Column 'loan_amnt' has 855 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Column 'funded_amnt' has 1009 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Column 'funded_amnt_inv' has 7593 unique values.
Top 10 unique values: [ 4975.  2500.  2400. 10000.  5000.  7000.  3000.  5600.  5350.  6500.]


Column 'term' has 2 unique values.
Top 10 unique values: [36 60]


Column 'int_rate' has 336 unique values.
Top 10 unique values: ['10.65' '15.27' '15.96' '13.49' '7.90' '18.64' '21.28' '12.69' '14.65'
 '9.91']


Column 'installment' has 14382 unique values.
Top 10 unique values: [162.87  59.83  84.33 339.31 156.46 170.08 109.43 152.39 121.45 153.45]


Column 'grade' has 7 unique values.
Top 10 unique values: ['B' 'C' 'A' 'E' 'F' 'D' 'G']


Column 'sub_grade' has 35 unique values.
Top 10 unique values: ['B2' 'C4' 'C5' 'C1' 'A4' 'E1' 'F2' 'B5' 'C3' 'B1']


Column 'emp_length' has 11 unique values.
Top 10 unique values: [10  0  3  8  9  4  5  1  6  2]


Column 'home_ownership' has 4 unique values.
Top 10 unique values: ['RENT' 'OWN' 'MORTGAGE' 'OTHER']


Column 'annual_inc' has 4937 unique values.
Top 10 unique values: [24000. 30000. 12252. 49200. 36000. 47004. 48000. 40000. 15000. 72000.]


Column 'verification_status' has 3 unique values.
Top 10 unique values: ['Verified' 'Source Verified' 'Not Verified']


Column 'issue_d' has 52 unique values.
Top 10 unique values: ['Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11'
 'Apr-11' 'Mar-11']


Column 'loan_status' has 2 unique values.
Top 10 unique values: ['Fully Paid' 'Charged Off']


Column 'purpose' has 14 unique values.
Top 10 unique values: ['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving']


Column 'title' has 18401 unique values.
Top 10 unique values: ['Computer' 'bike' 'real estate business' 'personel'
 'My wedding loan I promise to pay back' 'Loan' 'Car Downpayment'
 'Expand Business & Buy Debt Portfolio' 'Building my credit history.'
 'High intrest Consolidation']


Column 'zip_code' has 808 unique values.
Top 10 unique values: ['860' '309' '606' '917' '852' '280' '900' '958' '774' '853']


Column 'addr_state' has 49 unique values.
Top 10 unique values: ['AZ' 'GA' 'IL' 'CA' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT']


Column 'dti' has 2848 unique values.
Top 10 unique values: [27.65  1.    8.72 20.   11.2  23.51  5.35  5.55 18.08 16.12]


Column 'delinq_2yrs' has 11 unique values.
Top 10 unique values: [0 2 3 1 4 6 5 8 7 9]


Column 'earliest_cr_line' has 513 unique values.
Top 10 unique values: ['Jan-85' 'Apr-99' 'Nov-01' 'Feb-96' 'Nov-04' 'Jul-05' 'Jan-07' 'Apr-04'
 'Sep-04' 'Jan-98']


Column 'inq_last_6mths' has 9 unique values.
Top 10 unique values: [1 5 2 3 0 4 6 7 8]


Column 'open_acc' has 38 unique values.
Top 10 unique values: [ 3  2 10  9  7  4 11 14 12 20]


Column 'pub_rec' has 5 unique values.
Top 10 unique values: [0 1 2 3 4]


Column 'revol_bal' has 20774 unique values.
Top 10 unique values: [13648  1687  2956  5598  7963 17726  8221  5210  9279  4032]


Column 'revol_util' has 1086 unique values.
Top 10 unique values: ['83.70%' '9.40%' '98.50%' '21%' '28.30%' '85.60%' '87.50%' '32.60%'
 '36.50%' '20.60%']


Column 'total_acc' has 81 unique values.
Top 10 unique values: [ 9  4 10 37 12 11 13  3 23 34]


Column 'last_credit_pull_d' has 97 unique values.
Top 10 unique values: ['May-16' 'Sep-13' 'Apr-16' 'Jan-16' 'Dec-14' 'Aug-12' 'Mar-13' 'Dec-15'
 'Aug-13' 'Nov-12']


Column 'pub_rec_bankruptcies' has 3 unique values.
Top 10 unique values: [0. 1. 2.]

* Remove % from revol_util

In [52]:
df["revol_util"] = df["revol_util"].str.replace("%", "")

In [53]:
utils.print_unique_values(df)

Column 'loan_amnt' has 855 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Column 'funded_amnt' has 1009 unique values.
Top 10 unique values: [ 5000  2500  2400 10000  7000  3000  5600  5375  6500 12000]


Column 'funded_amnt_inv' has 7593 unique values.
Top 10 unique values: [ 4975.  2500.  2400. 10000.  5000.  7000.  3000.  5600.  5350.  6500.]


Column 'term' has 2 unique values.
Top 10 unique values: [36 60]


Column 'int_rate' has 336 unique values.
Top 10 unique values: ['10.65' '15.27' '15.96' '13.49' '7.90' '18.64' '21.28' '12.69' '14.65'
 '9.91']


Column 'installment' has 14382 unique values.
Top 10 unique values: [162.87  59.83  84.33 339.31 156.46 170.08 109.43 152.39 121.45 153.45]


Column 'grade' has 7 unique values.
Top 10 unique values: ['B' 'C' 'A' 'E' 'F' 'D' 'G']


Column 'sub_grade' has 35 unique values.
Top 10 unique values: ['B2' 'C4' 'C5' 'C1' 'A4' 'E1' 'F2' 'B5' 'C3' 'B1']


Column 'emp_length' has 11 unique values.
Top 10 unique values: [10  0  3  8  9  4  5  1  6  2]


Column 'home_ownership' has 4 unique values.
Top 10 unique values: ['RENT' 'OWN' 'MORTGAGE' 'OTHER']


Column 'annual_inc' has 4937 unique values.
Top 10 unique values: [24000. 30000. 12252. 49200. 36000. 47004. 48000. 40000. 15000. 72000.]


Column 'verification_status' has 3 unique values.
Top 10 unique values: ['Verified' 'Source Verified' 'Not Verified']


Column 'issue_d' has 52 unique values.
Top 10 unique values: ['Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11'
 'Apr-11' 'Mar-11']


Column 'loan_status' has 2 unique values.
Top 10 unique values: ['Fully Paid' 'Charged Off']


Column 'purpose' has 14 unique values.
Top 10 unique values: ['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving']


Column 'title' has 18401 unique values.
Top 10 unique values: ['Computer' 'bike' 'real estate business' 'personel'
 'My wedding loan I promise to pay back' 'Loan' 'Car Downpayment'
 'Expand Business & Buy Debt Portfolio' 'Building my credit history.'
 'High intrest Consolidation']


Column 'zip_code' has 808 unique values.
Top 10 unique values: ['860' '309' '606' '917' '852' '280' '900' '958' '774' '853']


Column 'addr_state' has 49 unique values.
Top 10 unique values: ['AZ' 'GA' 'IL' 'CA' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT']


Column 'dti' has 2848 unique values.
Top 10 unique values: [27.65  1.    8.72 20.   11.2  23.51  5.35  5.55 18.08 16.12]


Column 'delinq_2yrs' has 11 unique values.
Top 10 unique values: [0 2 3 1 4 6 5 8 7 9]


Column 'earliest_cr_line' has 513 unique values.
Top 10 unique values: ['Jan-85' 'Apr-99' 'Nov-01' 'Feb-96' 'Nov-04' 'Jul-05' 'Jan-07' 'Apr-04'
 'Sep-04' 'Jan-98']


Column 'inq_last_6mths' has 9 unique values.
Top 10 unique values: [1 5 2 3 0 4 6 7 8]


Column 'open_acc' has 38 unique values.
Top 10 unique values: [ 3  2 10  9  7  4 11 14 12 20]


Column 'pub_rec' has 5 unique values.
Top 10 unique values: [0 1 2 3 4]


Column 'revol_bal' has 20774 unique values.
Top 10 unique values: [13648  1687  2956  5598  7963 17726  8221  5210  9279  4032]


Column 'revol_util' has 1086 unique values.
Top 10 unique values: ['83.70' '9.40' '98.50' '21' '28.30' '85.60' '87.50' '32.60' '36.50'
 '20.60']


Column 'total_acc' has 81 unique values.
Top 10 unique values: [ 9  4 10 37 12 11 13  3 23 34]


Column 'last_credit_pull_d' has 97 unique values.
Top 10 unique values: ['May-16' 'Sep-13' 'Apr-16' 'Jan-16' 'Dec-14' 'Aug-12' 'Mar-13' 'Dec-15'
 'Aug-13' 'Nov-12']


Column 'pub_rec_bankruptcies' has 3 unique values.
Top 10 unique values: [0. 1. 2.]

* date columns are as follows
1. issue_d
2. earliest_cr_line
3. last_credit_pull_d

In [54]:
# Convert date columns to datetime format
date_columns = ['issue_d', 'earliest_cr_line', 'last_credit_pull_d']
df[date_columns] = df[date_columns].apply(pd.to_datetime, format='%b-%y')

# Feature engineering
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month
df['issue_quarter'] = df['issue_d'].dt.quarter
df['credit_history_length'] = (df['issue_d'] - df['earliest_cr_line']).dt.days / 30  # Credit history in months

# Display the DataFrame with new features
print(df)

       loan_amnt  funded_amnt  funded_amnt_inv  term int_rate  installment grade sub_grade  emp_length home_ownership  annual_inc verification_status    issue_d  loan_status             purpose                                   title zip_code addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  open_acc  pub_rec  revol_bal revol_util  total_acc last_credit_pull_d  pub_rec_bankruptcies  issue_year  issue_month  issue_quarter  credit_history_length
0           5000         5000           4975.0    36    10.65       162.87     B        B2          10           RENT     24000.0            Verified 2011-12-01   Fully Paid         credit_card                                Computer      860         AZ  27.65            0       1985-01-01               1         3        0      13648      83.70          9         2016-05-01                   0.0        2011           12              4             327.666667
1           2500         2500           2500.0    60    15.27        59.83     C        C4           0           RENT     30000.0     Source Verified 2011-12-01  Charged Off                 car                                    bike      309         GA   1.00            0       1999-04-01               5         3        0       1687       9.40          4         2013-09-01                   0.0        2011           12              4             154.233333
2           2400         2400           2400.0    36    15.96        84.33     C        C5          10           RENT     12252.0        Not Verified 2011-12-01   Fully Paid      small_business                    real estate business      606         IL   8.72            0       2001-11-01               2         2        0       2956      98.50         10         2016-05-01                   0.0        2011           12              4             122.733333
3          10000        10000          10000.0    36    13.49       339.31     C        C1          10           RENT     49200.0     Source Verified 2011-12-01   Fully Paid               other                                personel      917         CA  20.00            0       1996-02-01               1        10        0       5598         21         37         2016-04-01                   0.0        2011           12              4             192.733333
5           5000         5000           5000.0    36     7.90       156.46     A        A4           3           RENT     36000.0     Source Verified 2011-12-01   Fully Paid             wedding   My wedding loan I promise to pay back      852         AZ  11.20            0       2004-11-01               3         9        0       7963      28.30         12         2016-01-01                   0.0        2011           12              4              86.200000
...          ...          ...              ...   ...      ...          ...   ...       ...         ...            ...         ...                 ...        ...          ...                 ...                                     ...      ...        ...    ...          ...              ...             ...       ...      ...        ...        ...        ...                ...                   ...         ...          ...            ...                    ...
39562       4800         4800           1100.0    36    10.28       155.52     C        C1           1           RENT     35000.0        Not Verified 2007-11-01   Fully Paid  debt_consolidation      Want to pay off high intrest cards      226         VA   7.51            0       2000-03-01               0        11        1       5836      68.70         12         2008-08-01                   1.0        2007           11              4              93.366667
39573       7000         7000           1000.0    36    10.59       227.82     C        C2           3       MORTGAGE     63500.0        Not Verified 2007-11-01   Fully Paid  debt_consolidation  Taking the First Step by Consolidating      853         AZ   8.50            0       1989-02-01               1         9        1      14930         79         21         2016-04-01                   1.0        2007           11              4             228.233333
39623       9000         9000            700.0    36    12.49       301.04     D        D3           8       MORTGAGE     39000.0        Not Verified 2007-10-01  Charged Off  debt_consolidation                            Pay off debt      207         MD   5.08            0       1997-08-01               3         9        1      26233      62.90         37         2016-05-01                   1.0        2007           10              4             123.766667
39666      15450        15450            600.0    36    11.22       507.46     C        C4           2       MORTGAGE     40000.0        Not Verified 2007-08-01  Charged Off  debt_consolidation    paying credit cards and doctor bill.      201         VA  13.50            0       1992-11-01               3        13        1       6513      34.30         29         2010-03-01                   1.0        2007            8              3             179.533333
39680       3000         3000            525.0    36    11.86        99.44     D        D1           2       MORTGAGE     36153.0        Not Verified 2007-08-01   Fully Paid  debt_consolidation  Merging 2 Accounts into one to save $$      479         IN   7.47            0       2000-07-01               2         3        1       1064      70.90          6         2010-07-01                   1.0        2007            8              3              86.233333

[36789 rows x 33 columns]

In [55]:
utils.print_col_val_desc(df, data_dictionary)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36789 entries, 0 to 39680
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   loan_amnt              36789 non-null  int64
 1   funded_amnt            36789 non-null  int64
 2   funded_amnt_inv        36789 non-null  float64
 3   term                   36789 non-null  int64
 4   int_rate               36789 non-null  object
 5   installment            36789 non-null  float64
 6   grade                  36789 non-null  object
 7   sub_grade              36789 non-null  object
 8   emp_length             36789 non-null  int64
 9   home_ownership         36789 non-null  object
 10  annual_inc             36789 non-null  float64
 11  verification_status    36789 non-null  object
 12  issue_d                36789 non-null  datetime64[ns]
 13  loan_status            36789 non-null  object
 14  purpose                36789 non-null  object
 15  title                  36789 non-null  object
 16  zip_code               36789 non-null  object
 17  addr_state             36789 non-null  object
 18  dti                    36789 non-null  float64
 19  delinq_2yrs            36789 non-null  int64
 20  earliest_cr_line       36789 non-null  datetime64[ns]
 21  inq_last_6mths         36789 non-null  int64
 22  open_acc               36789 non-null  int64
 23  pub_rec                36789 non-null  int64
 24  revol_bal              36789 non-null  int64
 25  revol_util             36789 non-null  object
 26  total_acc              36789 non-null  int64
 27  last_credit_pull_d     36789 non-null  datetime64[ns]
 28  pub_rec_bankruptcies   36789 non-null  float64
 29  issue_year             36789 non-null  int64
 30  issue_month            36789 non-null  int64
 31  issue_quarter          36789 non-null  int64
 32  credit_history_length  36789 non-null  float64
dtypes: datetime64[ns](3), float64(6), int64(13), object(11)
memory usage: 9.5+ MB

* convert to numeric. rest are already converted by the data cleaning tasks above.
1. int_rate, installment, revol_util

In [57]:
# convert to int

In [58]:
utils.convert_to_numeric(df, ["int_rate", "revol_util"])

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36789 entries, 0 to 39680
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   loan_amnt              36789 non-null  int64
 1   funded_amnt            36789 non-null  int64
 2   funded_amnt_inv        36789 non-null  float64
 3   term                   36789 non-null  int64
 4   int_rate               36789 non-null  float64
 5   installment            36789 non-null  float64
 6   grade                  36789 non-null  object
 7   sub_grade              36789 non-null  object
 8   emp_length             36789 non-null  int64
 9   home_ownership         36789 non-null  object
 10  annual_inc             36789 non-null  float64
 11  verification_status    36789 non-null  object
 12  issue_d                36789 non-null  datetime64[ns]
 13  loan_status            36789 non-null  object
 14  purpose                36789 non-null  object
 15  title                  36789 non-null  object
 16  zip_code               36789 non-null  object
 17  addr_state             36789 non-null  object
 18  dti                    36789 non-null  float64
 19  delinq_2yrs            36789 non-null  int64
 20  earliest_cr_line       36789 non-null  datetime64[ns]
 21  inq_last_6mths         36789 non-null  int64
 22  open_acc               36789 non-null  int64
 23  pub_rec                36789 non-null  int64
 24  revol_bal              36789 non-null  int64
 25  revol_util             36789 non-null  float64
 26  total_acc              36789 non-null  int64
 27  last_credit_pull_d     36789 non-null  datetime64[ns]
 28  pub_rec_bankruptcies   36789 non-null  float64
 29  issue_year             36789 non-null  int64
 30  issue_month            36789 non-null  int64
 31  issue_quarter          36789 non-null  int64
 32  credit_history_length  36789 non-null  float64
dtypes: datetime64[ns](3), float64(8), int64(13), object(9)
memory usage: 9.5+ MB